.block .minicalendar th {
	font-size: 0.75em;
}

table.minicalendar abbr {
	border-bottom: none;
	cursor: default;
}

.block .minicalendar th, .block .minicalendar td {
	width: 14.2%;
}

.minicalendar.calendartable > tbody > .weekdays > th {
	border: none;
}