.block .minicalendar th {
	font-size: 0.75em;
}

table.minicalendar abbr {
	border-bottom: none;
	cursor: default;
}

.block .minicalendar th, .block .minicalendar td {
	width: 14.2%;
}

.minicalendar.calendartable > tbody > .weekdays > th {
	border: none;
}

.yui3-widget.yui3-overlay.yui3-widget-positioned.yui3-widget-stacked.calendar-event-panel {
	display: none;
}

.popover {
	position: absolute;
	z-index: 99999;
}