body:before {
	content: '';
	background: white;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999999999999999999999999999999999999999;
}
/* Fix broken PDFs */
embed {
	position: relative;
	z-index: 999999999999999999999999999999999999999999;
}
body.removeCurtain:before {
	display: none;
}
.coursebox {
	background-color: transparent;
}
.coursebox > .info > .coursename a {
	background-color: transparent !important;
}
/* Fix calendar */
.maincalendar .calendarmonth {
	background-color: white;
}
.box.generalbox {
	background-color: white;
}
.event > tbody {
	background-color: white;
}
/* Fix HW assignments */
.region-content > .course-content {
	background-color: white;
	border-radius: 10px;
	box-shadow: 1px 2px 2px #eee;
	padding-bottom: 10px;
}