.eventList { 
    position:relative; 
}
.event {
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.eventComplete {
	background-color: lightgray;
	position: relative;
	margin-left: -5px;
	text-decoration: line-through;
}
.eventComplete > tbody {
	background-color: lightgray;
}
.calendar-eventComplete {
	background-color: lightgray !important;
	text-decoration: line-through;
}
.events-new > .calendar-eventComplete > a {
	color: gray !important;
}