#fitem_id_message > .fitemtitle {
	display: none !important;
}
.mform .fitem .felement {
	margin-left: 0;
	text-align: right;
	width: 100%;
}
#id_message {
	padding: 5px;
}

/* Emote table */
.coursesplus-emotiontable {
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	width: 500px;
}
.coursesplus-emotiontable > tbody > tr > td {
	padding-bottom: 15px;
}

/* New message notification */
#newmessageoverlay {
	border: solid 2px black;
	border-radius: 5px;
	bottom: 5px;
	right: 5px;
}