.block_course_overview .content h2.title {
	font-size: 14px;
}
.coursebox.myHome {
	width: 49% !important;
	display: inline-block;
}
.coursebox.myHome.even {
	float: right;
	position: relative;
	/*top: -74px;*/
}
.coursebox.myHome .course_title h2 {
	text-overflow: ellipsis;
	width: 100%;
	height: 15px;
}
.activity_info {
	display: none;
}