.block_course_overview .content h2.title {
	font-size: 14px;
}
.coursebox.myHome {
	width: 49% !important;
	display: inline-block;
}
.coursebox.myHome.even {
	float: right;
	position: relative;
	top: -74px;
}