.smallLoginIcon {
	font-size: 12px;
	margin-right: 3px;
}
.dropdown-menu {
	min-width: 188px;
	opacity: 0;
	transition: opacity 0.5s;
}
.open>.dropdown-menu {
	opacity: 1;
}
.dropdown-menu>li {
	transition: margin-left 0.5s;
	margin-left: 0;
}
.dropdown-menu>li:hover {
	margin-left: 5px;
	width: 90%;
}
.dropdown-menu>li.navbar-right {
	transition: margin-right 0.5s;
	margin-left: 0;
	margin-right: 0;
}
.dropdown-menu>li.navbar-right:hover {
	margin-left: 0;
	margin-right: 5px;
	width: 90%;
}

/* Navbar logo */
.navbarHappyLogo {
	position: relative;
	top: -13px;
}

/* Navbar force collapse */
@media (max-width: 1140px) {
	.navbar > .container-fluid {
		overflow: scroll;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top .navbar-collapse,
	.navbar-static-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-right .dropdown-menu {
    	right: 0;
    	left: auto;
	}
  	.navbar-right .dropdown-menu-left {
    	right: auto;
    	left: 0;
	}

	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #777;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
		background-color: transparent;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}
}