body {
	padding-top: 51px !important;
}

.breadcrumb {
	background: transparent;
	border: none;
}

.coursebox > .info > .coursename a {
	font-weight: bold;
}

caption {
	padding: 0;
}

.editBtn, .upcomingEventsBtn {
	border: none;
	border-radius: 0;
}