<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Courses+ Dev Team</string>
	<key>Builder Version</key>
	<string>9537.78.2</string>
	<key>CFBundleDisplayName</key>
	<string>Courses+</string>
	<key>CFBundleIdentifier</key>
	<string>tk.coursesplus.coursesplus</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>etc/bg.safari.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/cpal.js</string>
				<string>js/cpal.safari.js</string>
				<string>js/jquery.js</string>
				<string>js/bootstrap.js</string>
				<string>js/components.js</string>
				<string>js/inject.js</string>
				<string>js/coursesLib.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/inject.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>*://courses2015.dalton.org/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>An extension that makes Dalton Courses look nicer, adds some features, and fixes some issues.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.dalton.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://coursesplus.tk</string>
</dict>
</plist>
