<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>{}</string>
		<key>Key</key>
		<string>CoursesPlusSettings</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>To access your settings, go to Courses, log in,</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Title</key>
		<string> </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>click your name (in the top-right corner), and</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Title</key>
		<string> </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>select "Courses+ Options".</string>
		<key>Type</key>
		<string>Group</string>
	</dict>
	<dict>
		<key>Title</key>
		<string> </string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
</array>
</plist>
